.container {
  bottom: 30px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(8, 60px);
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: var(--z-index-bottom-nav);
}

.container button {
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font: 500 20px var(--main-font);
  line-height: 1.5;
}

.navigation {
  background-color: var(--color-grey-light);
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07);
  display: flex;
  grid-column-end: span 7;
  grid-column-start: 1;
}

.settings {
  background-color: var(--color-grey-light);
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07);
  grid-column-end: span 1;
  grid-column-start: 8;
}

.btn-previous,
.btn-next {
  margin: 5px;
  padding: 10px 0;
}

.btn-previous {
  background: var(--color-grey-light);
  color: var(--color-primary);
  flex-grow: 1;
}

.btn-next {
  background-color: var(--color-primary);
  color: var(--color-grey-light);
  flex-grow: 4;
}

.btn-settings {
  align-items: center;
  background: transparent;
  display: flex;
  justify-content: center;
  padding: 18px;
}

.settings-icon {
  height: 24px;
  stroke: var(--color-primary);
  width: 24px;
}

@media (max-width: 768px) {
  .container {
    bottom: 20px;
    grid-template-columns: repeat(6, 56px);
  }

  .container button {
    font-size: 16px;
  }

  .navigation {
    grid-column-end: span 5;
    grid-column-start: 1;
  }

  .settings {
    grid-column-end: span 1;
    grid-column-start: 6;
  }

  .btn-previous,
  .btn-next {
    padding: 8px 0;
  }
  .btn-next {
    flex-grow: 3;
  }

  .btn-settings {
    padding: 16px;
  }

  .settings-icon {
    stroke-width: 1.7;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 480px) {
  .container {
    column-gap: 10px;
    grid-template-columns: repeat(5, 56px);
  }

  .navigation {
    grid-column-end: span 4;
    grid-column-start: 1;
  }

  .settings {
    grid-column-end: span 1;
    grid-column-start: 5;
  }
}
