.container {
  bottom: 30px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(8, 60px);
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: var(--z-index-bottom-nav);
}

.container button {
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font: 500 20px var(--main-font);
  line-height: 1.5;
  margin: 5px;
  padding: 10px 0;
}

.settings {
  background-color: var(--color-grey-light);
  border-radius: 15px;
  display: flex;
  position: relative;
  grid-column-end: span 8;
  grid-column-start: 1;
}

.settings::before {
  background: rgba(var(--color-grey-rgb), 0.45);
  border-radius: 15px;
  content: '';
  height: 80%;
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translateX(-50%);
  width: calc(100% - 10px);
  z-index: -1;
  filter: blur(5px);
}

.btn-cancel {
  background: var(--color-grey-light);
  color: var(--color-primary);
  flex-grow: 1;
}

.btn-confirm {
  background: var(--color-primary);
  color: var(--color-grey-light);
  flex-grow: 4;
}

@media (max-width: 768px) {
  .container {
    bottom: 20px;
    grid-template-columns: repeat(6, 56px);
  }

  .settings {
    grid-column-end: span 6;
    grid-column-start: 1;
  }
  .container button {
    font-size: 16px;
    padding: 8px 0;
  }

  .btn-confirm {
    flex-grow: 3;
  }
}

@media (max-width: 480px) {
  .container {
    column-gap: 10px;
    grid-template-columns: repeat(5, 56px);
  }
  .settings {
    grid-column-end: span 5;
    grid-column-start: 1;
  }
}
